BASE_URL=https://the-internet.herokuapp.com
BRAND_URL=https://www.skakarh.com
API_BASE_URL=https://jsonplaceholder.typicode.com
TEST_USERNAME=tomsmith
TEST_PASSWORD=SuperSecretPassword!
CYPRESS_PROJECT_ID=
